@charset "ISO-8859-1";

#div{
    border: 5px;
    height: 450px;
    width: 400px;
    box-shadow: 10px 10px 50px;
    border-radius: 10px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background-color: rgb(243, 221, 230);
    font-size: 20px;
    border-color: rgb(170, 24, 24);
   
    color: aliceblue;
    

}
h3{
    color: rgb(7, 56, 50);
}

input{
    border-radius: 5px;
    height: 20px;
    background-color: rgb(184, 179, 179);
}

button{
    border-radius: 10px;
    height: 30px;
    background-color: rgb(152, 114, 172);
}

